<!-- <h1>HealthHub Dashboard</h1> -->
<!-- <app-patient-profile></app-patient-profile>
<app-appointment-list></app-appointment-list>
<app-dashboard></app-dashboard> -->
<!-- src/app/app.component.html -->
<div class="content">
  <span>HealthHub Dashboard</span>
</div>

<nav>
  <button (click)="navigateToPatientProfile()">View Patient Profile</button>
  <button (click)="navigateToAppointments()">View Appointments</button>
  <button (click)="navigateToDashboard()">View Dashboard</button>
</nav>
<router-outlet></router-outlet>